<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BikeShare</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/vars.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    @RenderSection("Styles", required: false)
</head>
<body>

@if (ViewData["HideNav"] == null || (bool)ViewData["HideNav"]! == false)
{
    <header>
        <nav class="navbar">
            <a class="nav-home" asp-area="" asp-controller="Home" asp-action="Index">BikeShare</a>


            <div style="flex-grow: 1"></div>
            <div class="nav-user">
            @if (User.Identity!.IsAuthenticated)
            {
                <span class="nav-username">@User.Identity.Name</span>
                <form asp-controller="Auth" asp-action="Logout" method="POST">
                    <button type="submit">Log out</button>
                </form>
            }
            else
            {
                <form asp-controller="Auth" asp-action="Login">
                    <button type="submit">Log in</button>
                </form>
            }
            </div>
        </nav>
    </header>
}

<main role="main">
    @RenderBody()
</main>

@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@* <script src="~/js/site.js" asp-append-version="true"></script> *@
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>