@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    ViewData["HideNav"] = true;
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="form">
    <h1 class="title">Register</h1>
    <h2 class="subtitle">Create a new account.</h2>
    
    <form asp-action="Register" method="POST">
        <div>
            <input asp-for="Username" placeholder="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <input asp-for="Email" placeholder="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <input asp-for="Password" placeholder="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <input asp-for="ConfirmPassword" placeholder="Confirm password" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit">Register</button>
    </form>
    
    <p>
        Already have an account? <a asp-controller="Auth" asp-action="Login">Log in here</a>.
    </p>
</div>