.navbar {
    height: var(--navbar-height);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-home {
    color: var(--text-color);
    padding-left: 20px;
    text-decoration: none;
    align-content: center;
    transition: 0.3s;
    
    &:hover {
        color: var(--accent-color);
    }
}

.nav-username {
    color: var(--text-color);
    padding-right: 20px;
    text-decoration: none;
    align-content: center;
    /*cursor: ;*/
}